@{
    ViewData["Title"] = "Home Page";
}
<body class="sectionimg" style="background-image: url(/img/EpaInicio.jpg);">
    <div class="d-flex justify-content-center align-items-center text-dark" style="min-height: 100vh;">
        <div class="card-body bg-light bg">
            <p class="phome display-4">Bienvenid&commat;</p>
            <p class="phome h2">@($"{ViewData["Nombre"]} {ViewData["Apellido"]}!")</p>

        </div>
    </div>
</body>
