@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirmar el cambio de correo electrónico";
}

<h2>@ViewData["Title"]</h2>
<partial name="_StatusMessage" model="Model.StatusMessage" />