@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación de contraseña";
}
<body class="sectionimg">
    <div method="post" class="formulario" style="width:50%">
        <h1 class="h1Form">Recuperar Contraseña</h1>
        <div class="contenedor text-center">
            <h5>Se ha enviado un correo electrónico con la información necesaria para recuperar tu contraseña</h5>
            <h5>Porfavor revisa tu correo electrónico</h5>
        </div>
       
    </div>
</body>

