@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Olvidaste tu contraseña?";
}

<body class="sectionimg">
        <form method="post" class="formulario">
        <h1 class="h1Form">Recuperar Contraseña</h1>
            <div asp-validation-summary="All" class="text-danger"></div>
        <div class="contenedor">
            <div class="input-contenedor">
                <i class="fas fa-envelope icon"></i>
                <input asp-for="Input.Email" type="text" placeholder="Correo Electronico" class="inputTipo" />
            </div>
            <button type="submit" class="button">Aceptar</button>
        </div>
        </form>
 </body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
