@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrar";
}


@* <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-md-10 col-lg-6 col-xl-4 offset-xl-1">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Crear Cuenta</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control"  />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control"  />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>

</div> *@
<body class="sectionimg">
    <form asp-route-returnUrl="@Model.ReturnUrl" class="formulario" method="post">
    <h1 class="h1Form">Registrar</h1>
    <div class="contenedor">
        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
        <div class="input-contenedor">
            <i class="fas fa-user icon"></i>
                <input asp-for="Input.FirstName" placeholder="Nombre" class="inputTipo" />
        </div>
        
        <span asp-validation-for="Input.LastName" class="text-danger"></span>
        <div class="input-contenedor">
            <i class="fas fa-user icon"></i>
                <input asp-for="Input.LastName" placeholder="Apellido" class="inputTipo" />
        </div>

        <span asp-validation-for="Input.Email" class="text-danger"></span>
        <div class="input-contenedor">
            <i class="fas fa-envelope icon"></i>
                <input asp-for="Input.Email" type="text" placeholder="Correo Electronico" class="inputTipo" />
        </div>

        <span asp-validation-for="Input.Password" class="text-danger"></span>
        <div class="input-contenedor">
            <i class="fas fa-key icon"></i>
                <input asp-for="Input.Password" type="password" placeholder="Contraseña" class="inputTipo">
        </div>

        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        <div class="input-contenedor">

                <input asp-for="Input.ConfirmPassword" type="password" placeholder="Confirmar Contraseña" class="inputTipo">
        </div>
        <input type="submit" value="Registrate" class="button">
       
    </div>
</form>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
