@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Restablecer confirmación de contraseña";
}

<h2>@ViewData["Title"]</h2>
<p>
    Tu contraseña ha sido restablecida. Por favor <a asp-page="./Login">haga clic aquí para ingresar</a>.
</p>
